<div class="row justify-content-center">
  <div class="two-space"></div>
  <div class="col-lg-5 col-md-8 col-sm-10 col-xs-12">
    <div class="card">
      <h2 class="card-title text-center">Reset Password</h2>
      <h5 class="card-subtitle text-center">Please enter you registered Email</h5>
      <div class="space"></div>
      <div *ngIf="message" [ngClass]="{'alert-success': isValid == true, 'alert-danger': isValid == false}" class="alert">
        {{message}}
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="space"></div>
      <form (submit)="onResetPassword(resetForm)" #resetForm="ngForm">
        <div class="form-group">
          <input type="email" class="form-control" #email="ngModel" ngModel name="email" placeholder="Your email" required>
        </div>
        <button type="submit" class="btn btn-info" [disabled]="resetForm.invalid">Reset Password</button>
      </form>

    </div>
  </div>
</div>
<div class="two-space"></div>
